.project-card {
 background: linear-gradient(135deg, #ffffff, #e6f0ff);
 border-radius: 12px;
 box-shadow:0 4px 6px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.06);
 transition: transform 0.3s ease, box-shadow 0.3s ease;
 cursor: pointer;
 padding: 1.25rem 1.5rem;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 min-height: 260px;
 width: 90%;
}

.project-card:hover {
 transform: translateY(-8px) scale(1.02);
 box-shadow:
 0 10px 15px rgba(0,0,0,0.15),
 0 4px 6px rgba(0,0,0,0.1);
 background: linear-gradient(135deg, #f0f5ff, #d0e1ff);
}

.status-label {
 padding: 0.35em 0.9em;
 font-size: 0.85rem;
 border-radius: 15px;
 margin-bottom: 0.8rem;
 width: fit-content;
}

.score-section {
 text-align: center;
}

.view-btn {
 background-color: #093169;
 color: white;
 border: none;
 padding: 6px 12px;
 border-radius: 6px;
 font-size: 0.85rem;
 margin-top: 5px;
 transition: background-color 0.3s ease;
}

.view-btn:hover {
 background-color: #0b3269;
}